 .header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position:relative;
 }

 .headerlist{
    width:100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
 }

.headerlistitem{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .headerbtn{
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
 }

 .headersearch{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
 }

 .headersearchitem{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .headersearchinput{
    outline: none;
 }

 .headersearchtext{
    color: lightgray;
    cursor: pointer;
 }