.listcontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listwrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listsearch{
    flex:1;
    background-color: darkorange;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lstitle{
    font-size: 20px;
    color:black;
    margin-bottom: 10px;
}

.lsitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsitem>lable{
    font-size: 12px;
}

.lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.lsitem>span{
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsoptions{
    padding: 10px;
}

.lsoptionitem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: black;
    font-size: 12px;
}

.lsoptioninput{
    width: 50px;
}

.listsearch>button{
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.listresult{
    flex:3;
}